@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-kanit);
}

html {
  background: #ffffff;
  scrollbar-gutter: stable;
}

html.dark {
  background: #030712;
}
